label,
input,
button,
select,
textarea {
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}

label {
    font-family:
        -apple-system, BlinkMacSystemFont, 'Inter UI', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
        'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif, sans-serif;
    letter-spacing: -0.006em;
}

select[multiple],
select[size] {
    height: auto !important;
}

input:focus,
select:focus,
textarea:focus,
input[type='file']:focus,
input[type='radio']:focus,
input[type='checkbox']:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

input:-webkit-autofill,
input.error:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px var(--white) inset !important;
}

input:-webkit-autofill:focus,
input.error:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px var(--white) inset !important;
}

form legend {
    margin: 15px 0 10px 0;
}

.form-control {
    background-color: #fff;
    background-image: none;
    border: 1px solid var(--dark-font-color-hover);
    font-family:
        -apple-system, BlinkMacSystemFont, 'Inter UI', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
        'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif, sans-serif;
    -webkit-appearance: none;
    color: var(--dark-font-color);
    outline: 0;
    padding: 6px 8px;
    line-height: 16px;
    font-size: 14px;
    font-weight: normal;
    vertical-align: middle;
    min-height: 32px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-transition: background 0.2s linear 0s;
    transition: background 0.2s linear 0s;

    &::-moz-placeholder {
        color: inherit;
        opacity: 0.47;
        font-weight: 400;
        font-family:
            -apple-system, BlinkMacSystemFont, 'Inter UI', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
            'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    }

    &:-ms-input-placeholder {
        color: inherit;
        opacity: 0.47;
        font-weight: 400;
        font-family:
            -apple-system, BlinkMacSystemFont, 'Inter UI', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
            'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    }

    &::-webkit-input-placeholder {
        color: inherit;
        opacity: 0.47;
        font-weight: 400;
        font-family:
            -apple-system, BlinkMacSystemFont, 'Inter UI', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
            'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    }

    &::placeholder {
        color: inherit;
        opacity: 0.47;
        font-weight: 400;
        font-family:
            -apple-system, BlinkMacSystemFont, 'Inter UI', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
            'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    }

    &:focus {
        background-color: var(--white);
        border: 1px solid var(--focus-color);
        box-shadow: none;
        outline: 0 !important;

        &::-moz-placeholder {
            color: inherit;
            opacity: 0.57;
            font-weight: 400;
            font-family:
                -apple-system, BlinkMacSystemFont, 'Inter UI', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
                'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
        }

        &:-ms-input-placeholder {
            color: inherit;
            opacity: 0.57;
            font-weight: 400;
            font-family:
                -apple-system, BlinkMacSystemFont, 'Inter UI', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
                'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
        }

        &::-webkit-input-placeholder {
            color: inherit;
            opacity: 0.57;
            font-weight: 400;
            font-family:
                -apple-system, BlinkMacSystemFont, 'Inter UI', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
                'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
        }

        &::placeholder {
            color: inherit;
            opacity: 0.57;
            font-weight: 400;
            font-family:
                -apple-system, BlinkMacSystemFont, 'Inter UI', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
                'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
        }
    }

    &[disabled],
    &[readonly],
    fieldset[disabled] .form-control {
        background: var(--disabled-input-background-color);
        color: var(--disabled-font-color);
        cursor: not-allowed;
    }
}

/* TeamFormComponent layouts
--------------------------------------------------
*/
@media only screen and (min-width: 540px) {
    form .row {
        margin-left: 0;
        margin-right: 0;

        [class*='col-sm-']:not(:first-child),
        [class*='col-sm-']:not(:last-child) {
            padding-right: 7px;
            padding-left: 7px;
        }

        [class*='col-sm-']:first-child {
            padding-left: 0;
        }

        [class*='col-sm-']:last-child {
            padding-right: 0;
        }
    }
}

@media only screen and (min-width: 720px) {
    form .row {
        margin-left: 0;
        margin-right: 0;

        [class*='col-']:not(:first-child),
        [class*='col-']:not(:last-child) {
            padding-right: 7px;
            padding-left: 7px;
        }

        [class*='col-']:first-child {
            padding-left: 0;
        }
        [class*='col-']:last-child {
            padding-right: 0;
        }
    }
}

@media only screen and (min-width: 960px) {
    form .row {
        margin-left: 0;
        margin-right: 0;

        [class*='col-lg-']:not(:first-child),
        [class*='col-lg-']:not(:last-child) {
            padding-right: 7px;
            padding-left: 7px;
        }

        [class*='col-lg-']:first-child {
            padding-left: 0;
        }

        [class*='col-lg-']:last-child {
            padding-right: 0;
        }
    }
}

@media only screen and (min-width: 1200px) {
    form .row {
        margin-left: 0;
        margin-right: 0;

        [class*='col-xl-']:not(:first-child),
        [class*='col-xl-']:not(:last-child) {
            padding-right: 7px;
            padding-left: 7px;
        }

        [class*='col-xl-']:first-child {
            padding-left: 0;
        }

        [class*='col-xl-']:last-child {
            padding-right: 0;
        }
    }
}

/* TeamFormComponent Groups
--------------------------------------------------
*/

.form-group {
    margin-bottom: 5px !important;

    label {
        &:not(.error) {
            color: var(--primary-font-color);
            transition:
                all 150ms cubic-bezier(0.4, 0, 0.2, 1),
                color 150ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        &.help {
            margin-left: 8px;
        }
    }

    &.help {
        font-size: 12px;
        color: var(--dark-font-color-hover);
        letter-spacing: normal;
        line-height: 18px;
        display: block;
        margin-top: 6px;
        margin-left: 3px;
    }

    @keyframes show-msg {
        0% {
            height: 0;
            opacity: 0;
        }
        100% {
            height: 25px;
            opacity: 1;
        }
    }

    @keyframes show-line {
        0% {
            width: 0;
        }
        100% {
            width: 100%;
        }
    }

    &.form-group-default {
        background-color: #fff;
        font-family:
            -apple-system, BlinkMacSystemFont, 'Inter UI', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
            'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
        position: relative;
        border: 1px solid var(--primary-font-color-hover);
        border-radius: 2px;
        padding: 5px 9px 4px;
        overflow: hidden;
        width: 100%;
        -webkit-transition: background-color 0.2s ease;
        transition: background-color 0.2s ease;
        cursor: text;

        &.form-check-group {
            cursor: default;

            label {
                cursor: pointer;
            }
        }

        &.required:after {
            color: #ea2c54;
            content: '*';
            font-family:
                -apple-system, BlinkMacSystemFont, 'Inter UI', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
                'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
            font-size: 20px;
            position: absolute;
            right: 10px;
            top: 2px;
        }

        &.disabled {
            background: var(--disabled-input-background-color);
            color: var(--disabled-font-color);
            cursor: not-allowed;

            &.focused {
                border: 1px solid var(--focus-color);
                label {
                    opacity: 0.57;
                    cursor: not-allowed;
                }
            }
        }

        &.toggle-required {
            animation-name: shake;
            animation-duration: 0.4s;
            animation-iteration-count: 1;
        }

        &.has-success .form-control-feedback,
        &.has-error .form-control-feedback {
            display: none !important;
        }

        &.has-success .form-control,
        &.has-success .form-control:focus,
        &.has-error .form-control,
        &.has-error .form-control:focus {
            border: none;
            box-shadow: none;
        }

        &.has-error {
            label {
                color: var(--error-color-dark);
            }
        }

        & + .error {
            margin-top: -5px;
            padding: 5px 7px 2px 4px;
            display: flex;
            letter-spacing: normal;
            animation-name: show-msg;
            animation-duration: 450ms;
            animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            position: relative;
            color: var(--error-color-dark);
            font-size: 13px;

            &:after {
                content: '';
                width: 0;
                position: absolute;
                height: 1px;
                background-color: var(--error-color);
                top: -1px;
                right: 0;
                animation-name: show-line;
                animation-delay: 300ms;
                animation-duration: 350ms;
                animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                animation-fill-mode: forwards;
            }
        }

        &.input-group {
            padding: 0;

            label {
                margin-top: 6px;
                padding-left: 12px;

                &.inline {
                    margin-top: 6px;
                    float: left;
                }
            }

            .form-control {
                margin-top: -2px;
                margin-bottom: 3px;
                padding-left: 12px;
                width: 100%;
            }

            .form-input-group {
                position: relative;
                -webkit-box-flex: 1;
                -ms-flex: 1 1 auto;
                flex: 1 1 auto;
                width: 1%;
                margin-bottom: 0;
            }

            .input-group-text {
                border: 0;
                border-radius: 0;
                min-width: 50px;

                i {
                    width: 100%;
                }
            }

            .btn {
                border-top: 0;
                border-bottom: 0;
            }
        }


        .form-control {
            border: none;
            height: 25px;
            min-height: 25px;
            padding: 0;
            margin-top: -4px;
            background: none;
            -webkit-box-shadow: none;
            box-shadow: none;

            &.error {
                color: var(--dark-font-color);
            }

            &:focus {
                background: none;

                &::-moz-placeholder {
                    color: inherit;
                    opacity: 0.77;
                    font-weight: 400;
                    font-family:
                        -apple-system, BlinkMacSystemFont, 'Inter UI', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
                        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
                }

                &:-ms-input-placeholder {
                    color: inherit;
                    opacity: 0.77;
                    font-weight: 400;
                    font-family:
                        -apple-system, BlinkMacSystemFont, 'Inter UI', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
                        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
                }

                &::-webkit-input-placeholder {
                    color: inherit;
                    opacity: 0.77;
                    font-weight: 400;
                    font-family:
                        -apple-system, BlinkMacSystemFont, 'Inter UI', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
                        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
                }

                &::placeholder {
                    color: inherit;
                    opacity: 0.77;
                    font-weight: 400;
                    font-family:
                        -apple-system, BlinkMacSystemFont, 'Inter UI', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
                        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
                }
            }

            &:-webkit-autofill,
            &.error:-webkit-autofill {
                -webkit-box-shadow: 0 0 0 1000px var(--white) inset !important;

                &:focus {
                    -webkit-box-shadow: 0 0 0 1000px var(--white) inset !important;
                }
            }
        }

        textarea.form-control {
            padding-top: 5px;
        }

        label {
            margin: 0;
            display: block;
            opacity: 1;
            cursor: text;
            -webkit-transition: opacity 0.2s ease;
            transition: opacity 0.2s ease;

            &.label-lg {
                font-size: 13px;
                left: 13px;
                top: 9px;
            }

            &.label-sm {
                font-size: 11px;
                left: 11px;
                top: 6px;
            }

            &.highlight {
                opacity: 1;
            }

            &.fade {
                opacity: 0.5;
                -webkit-backface-visibility: hidden;
                -moz-backface-visibility: hidden;
                backface-visibility: hidden;
                font-size: 12px;
                letter-spacing: normal;
            }
        }

        & > .input-lg {
            height: 29px;
            min-height: 29px;
            padding-left: 1px;
        }

        & > .input-sm {
            min-height: 18px;
            height: 18px;
        }

        /* Select Input */
        &.form-group-default-select {
            overflow: visible;
            padding: 0;

            .ui-select-container {
                &.ui-select-bootstrap.dropdown .ui-select-match {
                    padding-top: 6px;
                    height: 23px;
                }

                .select2-choices {
                    border: 0;
                }
            }

            & > label {
                position: absolute;
                z-index: 10;
                padding: 5px 12px 0 9px;
                color: var(--dark-font-color);

                &.label-lg {
                    left: 0;
                    top: 0;
                }

                &.label-sm {
                    left: 0;
                    top: 0;
                }
            }

            .select2-container {
                .select2-selection--single {
                    padding-top: 20px;
                    height: 52px;

                    .select2-arrow b:before {
                        top: 20px;
                    }

                    .select2-chosen {
                        padding-left: 3px;
                        padding-top: 1px;
                    }

                    .select2-selection--multiple {
                        padding-top: 19px;
                        padding-bottom: 0;
                        min-height: 52px;
                        border: 0 !important;
                    }
                }
            }

            .select2-container,
            .select2-selection--multiple,
            .select2-selection__rendered,
            .select2-selection__choice {
                margin-top: 5px;
            }

            &.input-lg {
                height: auto;
                padding: 0;

                .select2-container .select2-selection--single {
                    padding-top: 26px;
                    height: 58px;
                }

                .select2-container,
                .select2-selection--single,
                .select2-selection__rendered {
                    font-size: 18px;
                }
            }

            &.input-sm {
                height: auto;
                padding: 0;

                .select2-container {
                    .select2-selection--single {
                        padding-top: 21px;
                        height: 49px;
                    }
                }

                .select2-container,
                .select2-selection--single,
                .select2-selection__rendered {
                    font-size: 13px;
                }
            }
        }

        /* Numeric Input */
        &.numeric {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            min-width: 90px;
            height: 54px;

            .button-container {
                height: 95%;
                width: 28px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-left: 1px solid rgba(0, 0, 0, 0.16);
                padding: 0 0 0 7px;

                .buttons {
                    height: inherit;
                    width: inherit;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 21px;

                    .numeric-increase,
                    .numeric-decrease {
                        cursor: pointer !important;
                        color: var(--dark-font-color);

                        &:hover,
                        &:active,
                        &:focus {
                            color: var(--dark-font-color-hover);
                        }

                        &.disabled {
                            color: rgba(0, 0, 0, 0.15);
                            cursor: not-allowed !important;
                            opacity: 0.45;
                        }
                    }
                }
            }
        }
    }
}
/*------------------------------------------------------------------
React Select
*/
.form-group-react-select {
    position: relative;

    label:not(.error) {
        position: absolute;
        padding-top: 3px;
        padding-left: 10px;
        z-index: 5;
    }
    &.has-error {
        label {
            color: var(--error-color-dark);
        }
    }
    &.required:after {
        color: #ea2c54;
        content: '*';
        font-family:
                -apple-system, BlinkMacSystemFont, 'Inter UI', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
                'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
        font-size: 20px;
        position: absolute;
        right: 10px;
        top: 2px;
    }

    .react-select-container {
        border: 1px solid var(--primary-font-color-hover);
        border-radius: 2px;

        & + .error {
            margin-top: 0;
            padding: 5px 7px 2px 4px;
            display: flex;
            letter-spacing: normal;
            animation-name: show-msg;
            animation-duration: 450ms;
            animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            position: relative;
            color: var(--error-color-dark);
            font-size: 13px;

            &:after {
                content: '';
                width: 0;
                position: absolute;
                height: 1px;
                background-color: var(--error-color);
                top: -1px;
                right: 0;
                animation-name: show-line;
                animation-delay: 300ms;
                animation-duration: 350ms;
                animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                animation-fill-mode: forwards;
            }
        }
    }
}

/*------------------------------------------------------------------
Checkbox
*/
.form-check {
    margin-bottom: 10px;
    padding-left: 0;
}

.form-check label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    min-width: 18px;
    min-height: 18px;
    margin-bottom: 0;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

.form-check label:before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    -webkit-box-sizing: inherit;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #c2c5ca;
}

.form-check label {
    transition:
        border 140ms linear 0s,
        color 140ms linear 0s,
        background-color 140ms linear 0s;
}

.form-check label:hover {
    color: #061223;
}

.form-check label:before {
    top: 2px;
    border-radius: 3px;
    transition:
        border 140ms linear 0s,
        color 140ms linear 0s,
        background-color 140ms linear 0s;
}

.form-check input[type='checkbox'] {
    position: absolute;
    margin: 0;
    top: 3px;
    z-index: -1;
    width: 16px;
    height: 16px;
    opacity: 0;
}

.form-check input[type='checkbox'] + label::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 0;
    border-right: 0 solid transparent;
    border-bottom: 0 solid transparent;
    width: 16px;
    height: 16px;
    overflow: hidden;
}

.form-check.checkbox-circle label:after {
    border-radius: 99px;
}

.form-check.checkbox-circle label:before {
    border-radius: 99px;
}

.form-check input[type='checkbox']:checked + label::after {
    content: '';
    background-size: 160px 16px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKAAAAAQAgMAAADsa5zLAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURUdwTHBwcG9vb3BwcBFjhIYAAAAEdFJOUwBG9tQE3MceAAAAVUlEQVQoz2NgGLKA0QGIDwDxBSCeAMEYgAWI2YCK2CagYgwgDcRSDhgYbAkKzsSKGdgakCyY6ADES7BiiCkgJ4PYyybgxAhQAsRZDrgxCpDEg4cAAAAp2ibhZRGLHgAAAABJRU5ErkJggg==')
        no-repeat left center;
    animation-name: checkbox-check;
    animation-duration: 320ms;
    animation-timing-function: steps(9);
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.form-check input[type='checkbox']:hover:active:not(:checked) + label:before {
    background-color: rgba(0, 0, 0, 0.08);
}

.form-check input[type='checkbox']:focus + label {
    color: #061223;
}

.form-check input[type='checkbox']:focus + label:before {
    outline: none !important;
    box-shadow: 0 0 0 2px #78c8fe;
}

.form-check input[type='checkbox'][disabled] + label {
    cursor: not-allowed !important;
    color: #353f4d;
    opacity: 0.58;
}

.form-check input[type='checkbox'][disabled] + label:before {
    cursor: not-allowed !important;
    background: #eaeaec;
}

.form-check input[type='checkbox']:indeterminate + label:after {
    background: #353f4d none;
    width: 10px;
    height: 2px;
    top: 6px;
    margin: 3px;
    border-radius: 2px;
}

.form-check.right label {
    padding-left: 0;
    padding-right: 26px;
}

.form-check.right label:before {
    right: 0;
    left: auto;
}

.form-check.right input[type='checkbox']:checked + label {
    position: relative;
}

.form-check.right input[type='checkbox']:checked + label::after {
    position: absolute;
    right: 0;
    left: auto;
}

.success input[type='checkbox']:checked + label:before,
.success input[type='checkbox']:indeterminate + label:before {
    border-color: #0c6baf;
    background-color: #0c6baf;
}

.primary input[type='checkbox']:checked + label:before,
.primary input[type='checkbox']:indeterminate + label:before {
    border-color: #0c6baf;
    background-color: #0c6baf;
}

.complete input[type='checkbox']:checked + label:before,
.complete input[type='checkbox']:indeterminate + label:before {
    border-color: #0c6baf;
    background-color: #0c6baf;
}

.warning input[type='checkbox']:checked + label:before,
.warning input[type='checkbox']:indeterminate + label:before {
    border-color: #fed76e;
    background-color: #fed76e;
}

.danger input[type='checkbox']:checked + label:before,
.danger input[type='checkbox']:indeterminate + label:before {
    border-color: #ea2c54;
    background-color: #ea2c54;
}

.info input[type='checkbox']:checked + label:before,
.info input[type='checkbox']:indeterminate + label:before {
    border-color: #47525e;
    background-color: #47525e;
}

.info input[type='checkbox']:checked + label::after,
.danger input[type='checkbox']:checked + label::after,
.complete input[type='checkbox']:checked + label::after,
.primary input[type='checkbox']:checked + label::after,
.success input[type='checkbox']:checked + label::after {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKAAAAAQAgMAAADsa5zLAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURUdwTP///////////waf0AoAAAAEdFJOUwBG9tQE3MceAAAAVUlEQVQoz2NgGLKA0QGIDwDxBSCeAMEYgAWI2YCK2CagYgwgDcRSDhgYbAkKzsSKGdgakCyY6ADES7BiiCkgJ4PYyybgxAhQAsRZDrgxCpDEg4cAAAAp2ibhZRGLHgAAAABJRU5ErkJggg==')
        left center;
}

.info input[type='checkbox']:indeterminate + label::after,
.danger input[type='checkbox']:indeterminate + label::after,
.complete input[type='checkbox']:indeterminate + label::after,
.primary input[type='checkbox']:indeterminate + label::after,
.success input[type='checkbox']:indeterminate + label::after {
    background-color: #fff;
}

@keyframes shrink-bounce {
    0% {
        transform: scale(1);
    }
    33% {
        transform: scale(0.85);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes checkbox-check {
    0% {
        background-position: 0;
    }
    100% {
        background-position: -144px;
    }
}

/* hide focus style if not from keyboard navigation */
.js-focus-visible .form-check input[type='checkbox']:focus:not(.focus-visible) + label:before {
    box-shadow: none;
}

.form-check input[type='radio'] + label:before {
    bottom: 2.5px;
    border-radius: 99px;
    -webkit-transition: border 0.3s 0s cubic-bezier(0.455, 0.03, 0.215, 1.33);
    transition: border 0.3s 0s cubic-bezier(0.455, 0.03, 0.215, 1.33);
}

.form-check input[type='radio']:checked + label:before {
    border-color: #656c77;
    border-width: 5px;
}

.form-check input[type='radio']:hover:active:not(:checked) + label:before {
    background-color: rgba(0, 0, 0, 0.08);
}

.form-check input[type='radio']:focus + label {
    color: #061223;
}

.form-check input[type='radio']:focus + label:before {
    outline: none !important;
    box-shadow: 0 0 0 2px #78c8fe;
}

.form-check input[type='radio'] {
    opacity: 0;
    position: absolute;
    top: 3px;
    width: 16px;
    height: 16px;
}

.form-check input[type='radio'][disabled] + label {
    cursor: not-allowed !important;
    color: #353f4d;
    opacity: 0.58;
}

.form-check input[type='radio'][disabled] + label:before {
    cursor: not-allowed !important;
    background: #eaeaec;
}

.success input[type='radio']:checked + label:before {
    border-color: #0c6baf;
}

.primary input[type='radio']:checked + label:before {
    border-color: #0c6baf;
}

.info input[type='radio']:checked + label:before {
    border-color: #47525e;
}

.warning input[type='radio']:checked + label:before {
    border-color: #fed76e;
}

.danger input[type='radio']:checked + label:before {
    border-color: #ea2c54;
}

.complete input[type='radio']:checked + label:before {
    border-color: #0c6baf;
}

/* hide focus style if not from keyboard navigation */
.js-focus-visible .form-check input[type='radio']:focus:not(.focus-visible) + label:before {
    box-shadow: none;
}

/* Scale */
.form-check.check-lg {
    padding: 0;
    margin: 10px 0;
    border: 1px solid rgba(6, 18, 35, 0.14);
    border-top-color: rgba(0, 0, 0, 0.14);
    z-index: 1;
}
.form-check.check-lg.checkbox-circle label {
    height: 56px;
    width: 100%;

    border-radius: 2px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    padding-left: 75px;
    cursor: pointer;
}
.form-check.check-lg.checkbox-circle label:after,
.form-check.check-lg.checkbox-circle label:before {
    top: 19px;
    left: 14px;
    transform: scale(1.75);
}

.form-check.check-lg.checkbox-circle input[type='checkbox']:checked + label::after {
    transform: scale(1.2);
}

.form-check.check-lg.checkbox-circle input[type='checkbox']:checked + label {
    background-color: var(--primary-color, #000000) !important;
    border-color: var(--primary-color, #000000) !important;
    color: #ffffff;

    &.danger,
    &.error {
        background-color: var(--error-color, #ea2c54) !important;
        border-color: var(--error-color, #ea2c54) !important;
    }

    &.success {
        background-color: var(--success-color, #28a745) !important;
        border-color: var(--success-color, #28a745) !important;
    }

    &.warning {
        background-color: var(--warning-color, #fed76e) !important;
        border-color: var(--warning-color, #fed76e) !important;
        color: #222222;
    }
}

/*------------------------------------------------------------------
Switch
*/
.form-check.switch input[type='checkbox'] + label {
    padding-left: 34px;
}

.form-check.switch input[type='checkbox'] + label:before {
    cursor: pointer;
    width: 26px;
    height: 18px;
    top: 2px;
    background-image: -webkit-linear-gradient(
        to right,
        #0c6baf 0%,
        #0f98f5 44%,
        rgba(0, 0, 0, 0.14) 62%,
        rgba(0, 0, 0, 0.04) 97%
    );
    background-image: -moz-linear-gradient(
        to right,
        #0c6baf 0%,
        #0f98f5 44%,
        rgba(0, 0, 0, 0.14) 62%,
        rgba(0, 0, 0, 0.04) 97%
    );
    background-image: linear-gradient(
        to right,
        #0c6baf 0%,
        #0f98f5 44%,
        rgba(0, 0, 0, 0.14) 62%,
        rgba(0, 0, 0, 0.04) 97%
    );
    background-size: 300%;
    background-position: right;
    border-radius: 50px;
    border: none;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.12);
    transition:
        background 310ms,
        box-shadow 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-check.switch input[type='checkbox'] + label:after {
    transform: translateX(0%);
    background: #fff;
    top: 4px;
    left: 2px;
    width: 14px;
    height: 14px;
    border-radius: 9px;
    box-shadow:
        1px 0 1px 0.5px rgba(0, 0, 0, 0.12),
        2px 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-check.switch input[type='checkbox']:checked + label:before {
    background-position: left;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.12);
}

.form-check.switch input[type='checkbox']:checked + label:after {
    transform: translateX(calc(100% - 6px));
    box-shadow:
        1px 1 px0 rgba(0, 0, 0, 0.08),
        -3px 3px 6px rgba(0, 0, 0, 0.3);
}

.form-check.switch input[type='checkbox']:focus + label:before {
    outline: none !important;
    box-shadow:
        inset 0 0 0 1px rgba(0, 0, 0, 0.12),
        0 0 0 2px #78c8fe;
}

.form-check.switch input[type='checkbox'][disabled]:active + label:after {
    transform: scaleX(1.1);
    transform-origin: center left;
    transition: transform step-start;
}

.form-check.switch input[type='checkbox']:checked[disabled]:active + label:after {
    transform: translateX(calc(100% - 6px)) scaleX(1.1);
    transform-origin: center right;
}

.form-check.switch input[type='checkbox']:hover:active + label:before {
    background-color: transparent;
}

.form-check.switch.right input[type='checkbox'] + label {
    padding-left: 0;
    padding-right: 36px;
}

.form-check.switch.right input[type='checkbox'] + label:before {
    right: 0;
    left: auto;
}

.form-check.switch.right input[type='checkbox'] + label:after {
    right: 10px;
    left: auto;
}

.form-check.switch.switch-lg input[type='checkbox'] + label {
    padding-left: 42px;
}

.form-check.switch.switch-lg input[type='checkbox'] + label:before {
    width: 34px;
    height: 22px;
    top: 0;
}

.form-check.switch.switch-lg input[type='checkbox'] + label:after {
    width: 18px;
    height: 18px;
    top: 2px;
}

.form-check.switch.switch-lg.right input[type='checkbox'] + label {
    padding-left: 0;
    padding-right: 44px;
}

.form-check.switch.switch-lg.right input[type='checkbox'] + label:after {
    right: 14px;
}

.form-check.switch.primary input[type='checkbox'] + label:before {
    background-image: linear-gradient(
        to right,
        #000000 0%,
        #222222 44%,
        rgba(0, 0, 0, 0.14) 62%,
        rgba(0, 0, 0, 0.04) 97%
    );
}

.form-check.switch.success input[type='checkbox'] + label:before {
    background-image: linear-gradient(
        to right,
        #0c6baf 0%,
        #0f98f5 44%,
        rgba(0, 0, 0, 0.14) 62%,
        rgba(0, 0, 0, 0.04) 97%
    );
}

.form-check.switch.complete input[type='checkbox'] + label:before {
    background-image: linear-gradient(
        to right,
        #0c6baf 0%,
        #0f98f5 44%,
        rgba(0, 0, 0, 0.14) 62%,
        rgba(0, 0, 0, 0.04) 97%
    );
}

.form-check.switch.warning input[type='checkbox'] + label:before {
    background-image: linear-gradient(
        to right,
        #fed76e 0%,
        #ffe47c 44%,
        rgba(0, 0, 0, 0.14) 62%,
        rgba(0, 0, 0, 0.04) 97%
    );
}

.form-check.switch.danger input[type='checkbox'] + label:before {
    background-image: linear-gradient(
        to right,
        #ea2c54 0%,
        #f5386c 44%,
        rgba(0, 0, 0, 0.14) 62%,
        rgba(0, 0, 0, 0.04) 97%
    );
}

.form-check.switch.info input[type='checkbox'] + label:before {
    background-image: linear-gradient(
        to right,
        #47525e 0%,
        #506577 44%,
        rgba(0, 0, 0, 0.14) 62%,
        rgba(0, 0, 0, 0.04) 97%
    );
}

/* hide focus style if not from keyboard navigation */
.js-focus-visible .form-check.switch input[type='checkbox']:focus:not(.focus-visible) + label:before {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.12);
}

/* Accessibility focus for screen readers*/
.form-check.switch input[type='checkbox'] {
    top: 1px;
    width: 28px;
    height: 18px;
}

.form-check.switch.switch-lg input[type='checkbox'] {
    top: 0;
    width: 34px;
    height: 22px;
}

.form-check input[type='checkbox']:focus + label:before {
    outline: none !important;
    box-shadow: none !important;
}

/*  Activation & Reset code inputs
-------------------------------------------------
*/
input[name*='activationCode'],
input[name*='resetCode'] {
    font-weight: 400;
    text-align: center;
    line-height: 22px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    min-height: 48px;
    min-width: 48px;

    &.has-error {
        border-color: var(--error-color);
        -webkit-box-shadow: none;
        box-shadow: none;

        &:focus {
            border-color: var(--error-color-dark);
            -webkit-box-shadow: none;
            box-shadow: none;
        }
    }
}

/* TeamFormComponent validation
--------------------------------------------------
*/

.has-success {
    .help-block,
    .control-label,
    .radio,
    .checkbox,
    .radio-inline,
    .checkbox-inline {
        color: var(--success-color);
    }

    .form-control,
    .form-control:focus {
        border-color: var(--success-color);
        -webkit-box-shadow: none;
        box-shadow: none;

        &:-webkit-autofill {
            -webkit-box-shadow:
                0 0 0 1000px var(--white) inset,
                0 0 0 1px rgba(0, 0, 0, 0.1),
                0 -1px 0 0 rgba(0, 0, 0, 0.05) !important;
        }
    }

    .form-control-feedback {
        color: var(--success-color);
    }
}

.has-warning {
    .help-block,
    .control-label,
    .radio,
    .checkbox,
    .radio-inline,
    .checkbox-inline {
        color: var(--warning-color);
    }

    .form-control,
    .form-control:focus {
        border-color: var(--warning-color);
        -webkit-box-shadow: none;
        box-shadow: none;

        &:-webkit-autofill {
            -webkit-box-shadow:
                0 0 0 1000px var(--white) inset,
                0 0 0 1px rgba(0, 0, 0, 0.1),
                0 -1px 0 0 rgba(0, 0, 0, 0.05) !important;
        }
    }

    .form-control-feedback {
        color: var(--warning-color);
    }
}

.has-warning {
    .help-block,
    .control-label,
    .radio,
    .checkbox,
    .radio-inline,
    .checkbox-inline {
        color: var(--error-color);
    }

    .form-control,
    .form-control:focus {
        border-color: var(--error-color);
        -webkit-box-shadow: none;
        box-shadow: none;

        &:-webkit-autofill {
            -webkit-box-shadow:
                0 0 0 1000px var(--white) inset,
                0 0 0 1px rgba(0, 0, 0, 0.1),
                0 -1px 0 0 rgba(0, 0, 0, 0.05) !important;
        }
    }

    .form-control-feedback {
        color: var(--error-color);
    }
}

/* Overrides
--------------------------------------------------
*/

.form-control {
    box-shadow: none !important;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}

.toggle-show-password {
    position: absolute;
    top: 20px;
    right: 10px;
    z-index: 10;
    text-decoration: none;
    img {
        width: 24px;
        height: 24px;
    }
}

.quantity-input {
    display: inline-flex;
    height: 44px;
    width: 100%;
    padding: 0;
    margin: 0 10px 0 0;
    position: relative;

    .controls {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .input-controls-container {
            height: 100%;
            width: 100%;
            position: relative;
            .input-controls {
                flex: 1;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                position: relative;

                label {
                    position: absolute;
                    left: 0;
                    bottom: -15px;
                    font-size: 9px;
                    text-transform: uppercase;
                    text-align: center;
                    text-wrap: none;
                    text-overflow: ellipsis;
                    font-weight: bold;
                    padding: 0;
                    margin: 0;
                    width: 100%;
                }

                input {
                    border: 0;
                    background-color: transparent;
                    font-size: 1.25rem;
                    line-height: 0 !important;
                    font-weight: bold;
                    color: var(--primary-font-color);
                    padding: 5px 0 0 0 !important;
                    margin: 0 !important;
                    height: auto !important;
                    width: 100%;
                    &:focus {
                        color: var(--dark-font-color);
                    }
                }
            }
        }

        .input-button {
            display: flex;
            justify-content: center;
            width: 24px;
            height: 100%;
            padding: 0 !important;
            margin: 0 3px !important;
            .btn {
                flex: 1;
            }
        }
    }
}

.signature-container {
    width: 100%;
    height: 300px;
    position: relative;

    canvas {
        display: block;
        width: 100%;
        height: 100%;
    }
    button {
        position: absolute;
        top: -15px;
        right: 15px;
        z-index: 10;
        cursor: pointer;
    }
}
