.timeline {
    margin: 5px 0 0 0;
    padding: 0;
    display: inline-block;
    position: relative;

    li {
        list-style: none;
        margin: auto auto 10px 15px;
        min-height: 20px;
        border-left: 1px dashed #232931;
        padding: 2px 0 8px 30px;
        position: relative;

        &:last-child {
            border-left: 0;
            padding-bottom: 0;
        }

        &::before {
            position: absolute;
            left: -12px;
            top: -12px;
            content: ' ';
            /*border: 8px solid rgba(255, 255, 255, 1);
            border-radius: 500%;*/
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-map-pin'%3E%3Cpath d='M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z'%3E%3C/path%3E%3Ccircle cx='12' cy='10' r='3'%3E%3C/circle%3E%3C/svg%3E")
                center center no-repeat;
            height: 24px;
            width: 24px;
            transition: all 500ms ease-in-out;
        }
        &.midway {
            min-height: 14px;
            &::before {
                left: -9px;
                background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAxElEQVR4AeWSwRHCIBREU4IlpAzHgLN+OHgzHWgnUgIdpQRKsISUoOwgpwTgHmY4/Zf3l8kOBzsATgryVjBLvN90bbjCPLslZ9xHDfP5CyjyCuKydIozMk1RksiqYLEzmzmjjKmLkgvkxa38oMRwARmmHCpQ4BNaqclUubypLbp5sg2R8W2RuJZo6X+ahApgXUoFlP8qZjLsVLWIGsIOrRr2sV0EcDZFpqOQGJMsF1KY0udCUkKmbtl0SkISZql1qYiHOj+BgGotsO8hdwAAAABJRU5ErkJggg==')
                    center center no-repeat;
                height: 18px;
                width: 18px;
            }
        }

        &:hover::before {
            border-color: #232931;
            transition: all 1000ms ease-in-out;
        }

        .timestamp {
            display: block;
            font-size: 12px;
            line-height: 18px;
            margin: 0;
            letter-spacing: -0.025em;
            position: relative;
        }
        .fix-alignment {
            margin: -12px 0 0 0 !important;
        }
        .item-title {
            font-size: 16px;
            line-height: 18px;
            letter-spacing: -0.05em;
            margin: 0;
            padding: 0;
        }
    }
}
